.services{
	flex-direction: column;
}
.services .sectin-head{
	width: 970px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 60px 200px 60px 0;

}

.services h2{
	font-size: 42px;
	line-height: 56px;
	margin: 30px 0;
	font-weight: 600;
}
.services p{
	font-size: 20px;
	line-height: 32px;
	color: #737373;
	margin: 0 0 60px 0;
}
.services .servis-items{
	width: 100%;
	justify-content: space-around;	
}


.services .servis-items div{
	width: 49%;
	height: 400px;
	/* background-image: url(/img/builder/3t4MaiepTN.jpeg?crop=600%2C450%2C0%2C0); */
}
.services .wrap-servis-items{
	background-image: url(./slider/item1.jpeg);
	background-size: cover;
}
.services .wrap-servis-items:last-child{
	background-image: url(./slider/item2.jpeg);
}
.services .wrap-servis-items div{
	width: 100%;
	height: 100%;
	background: black;
	opacity: .85;
	box-sizing: border-box;
	padding: 70px;
}
.services h3{
	color: white;
	font-weight: 600;
	font-size: 30px;
	margin: 80px 0 50px 0;
	opacity:1;
}
.services .wrap-servis-items p{
	color: white;
	
	font-size: 16px;
	margin: 20px 0;

}
.services h3:hover{
  color:#fb0;
}
.services .news-slider{
	width: 100%;
	background: white;
	margin: 60px  0 20px 0;
}
.services .slider-display{
	width: 35%;
	padding: 80px 0;
	box-sizing: border-box;
	padding: 70px;
}
.services .slider-display h2{
	font-size: 29px;
	margin: 20px 0;
}

.services .slider-display div div{
	width: 48px;
	height: 48px;
	color: white;
	background: black;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	justify-content: center;
	margin: 1px;
	cursor: pointer;
	transition-duration: .5s;
}

.services .slider-display .slider-buttons{
	justify-content: flex-start;
	position: relative;
}
.services .slider-display p{
	margin: 15px 0;
}



.services .news-slider a div{
	width: 200px;
	height: 48px;
	border: 3px solid #FFCE00;
	text-decoration: none;
	font-size: 18px;
	margin-top: 100px;
	transition-duration: .5s;

}
.services .news-slider a{
	text-decoration: none;
}
.services .news-slider a div:hover{
	background: rgb(243, 218, 186);
}

.services .slider-item{
	width: 65%;
	height: 440px;
	box-sizing: border-box;
	padding: 50px 50px 80px 50px;
	
}
.services .slider-item .slider-bar-wrap{
	width: 615px;
	height: 310px;
	overflow: hidden;
	position: relative;

}
.services .slider-item .slider-bar{
	width: 1025px;
	height: 310px;
	justify-content: space-between;	
	position: absolute;
	left: 0px;
	transition-duration: 1s;
}
.services .slider-item .item{
	width: 190px;
	height: 310px;
	
}
.services .slider-item .item img{
	width: 100%;
	height: auto;
	opacity: .8;
	background: black;
	display: block;
}
.services .slider-item .item:hover img{
	
	opacity: 1;
}
.services .slider-item .item h5{
 	font-size: 24px;
	line-height: 30px;
	height: auto;
}
.services .slider-item .item p{
	font-size: 12px;
	margin-top: 20px;
}
.services .slider-item .item button{
	border: 0px;
	border-radius: 8px;
	padding: 0 4px;
	font-size: 12px;
	background: rgb(230, 230, 230);
	margin-right: 10px;
	color: gray;
}
.services .slider-item .item button:hover{
	color: black;
	background: rgb(180, 180, 180);
}


.services .slider-buttons label{
	position: absolute;
	display: block;
	width: 48px;height: 48px;
	left: 1px;
	cursor: pointer;
}
.services .slider-buttons label.radio3,
.services .slider-buttons label.radio4{
	left: 51px;
}
.services .slider-buttons label.radio2,
.services .slider-buttons label.radio3{
	z-index:-1;
}
input#radio1:checked ~ .slider-display .slider-buttons .radio2,
input#radio2:checked ~ .slider-display .slider-buttons .radio2,
input#radio2:checked ~ .slider-display .slider-buttons .radio3,
input#radio1:checked ~ .slider-display .slider-buttons .radio4,
input#radio3:checked ~ .slider-display .slider-buttons .radio4{
	z-index: 2;
}

input#radio2:checked ~ .slider-display .slider-buttons .radio2{
	cursor: auto ;
}
input#radio1:checked ~ .slider-item .slider-bar{
	transform: translateX(-205px);
}
input#radio2:checked ~ .slider-item .slider-bar{
	transform: translateX(-410px);
}
input#radio3:checked ~ .slider-item .slider-bar{
	transform: translateX(-205px);
}
input#radio4:checked ~ .slider-item .slider-bar{
	transform: translateX(0);
}
input#radio2:checked ~ .slider-display .slider-buttons div:nth-child(1){
	background: gray;
}
input#radio4:checked ~ .slider-display .slider-buttons div:nth-child(2){
	background: gray;
}
.services input{
	display: none;
	
}
footer .menu-footer{
	margin: 20px 0;
}
footer .wrap-social{
	margin-left: auto;
}

footer .social-networks{
	width: 60px;
	height: 60px;
	background: #FFCE00;
	margin-left: 25px;
}



